<div class="col-md-9 offset-2">
    <div class="card-group">
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSEEUDehYO7ZO-Tn-KKRGeCjWDWpL5xSMve5EifdLmIJVSt4MoU&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="Nature ">Nature</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRpuUL6eOJU6q3tNvAuWOKgVom0fSVeXYS2qhF4DkQ1djvuTVon&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="Tree Picture">Tree Picture</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQq-mhFvfqLBvZXIzbsyBS2U76N-0ptjQqIYfGVZ4Z32iQIqX_F&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="Greenary ">Greenary </h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          
        </div>
      </div>
    </div>
